@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("PT Sans"),
       url("../fonts/PTSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("PT Sans"),
       url("../fonts/PTSans-Bold.ttf") format("ttf");
}

body{
  font-family: 'PT Sans' , sans-serif;
  font-display: swap;
}

.wrapper
{
  width: 1200px;
  margin: 0 auto;
}
