.promo{
  // background: #DBE9F2;
  // max-height: 518px;
  padding-top: 78px;
  padding-bottom: 82px;
  text-align: center;
  background: url(../../img/promo-background.jpg) no-repeat  ;
  background-size: cover;
}
