.social{
  display: flex;
  justify-content: space-between;
  width: 151px;
  font-size: 0;
  line-height: 0;

  &__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: var(--light-blue);

    &:hover{
      background-color: var(--middle-blue);
    }
  }
}
