:root {
  --basic-black: #000000;
  --light-black: #333333;
  --basic-white: #ffffff;
  --light-blue: #81B3D2;
  --middle-blue: #669EC0;
  --dark-blue: #5496BD;
  --basic-gray: #EEEEEE;
  --light-gray: #E5E5E5;
}
